body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: wheat;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 900px;
}

header {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0.493),
    rgba(255, 255, 255, 0.876)
  );
  overflow: hidden;
  max-height: 4&00px;
}

@media screen and (max-width: 470px) {
  .navbar-brand {
    display: none;
  }
}

.bandeau {
  display: flex;
  padding-left: 4em;
  padding-right: 4em;
}

section {
  background: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
  text-decoration: overline;
}

article {
  width: 80%;
  padding-top: 4em;
}

caption {
  background: white;
  padding: 10px;
  caption-side: top;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: darkblue;
  text-decoration: underline;
  border: 2px solid dodgerblue;
  border-bottom: initial;
}

td,
th {
  border: 1px dashed blue;
  border-top: initial;
}

tr {
  border: 2px solid dodgerblue;
}

aside {
  justify-content: space-around;
  background: white;
  padding: 2em;
  border-radius: 1em;
}

footer {
  height: 8em;
  background: wheat;
}
/* ------------------- */
