body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: lighten(black, 80%);
  /* background-image: url(); */
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 900px;
}

.bandeau {
  position: fixed;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0.493),
    rgba(255, 255, 255, 0.876)
  );
  display: flexbox;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: white;
  font-size: 1.3em;
  font-weight: 700;
}

.banniere {
  background: black;
  height: auto;
  overflow: hidden;
  color: white;
  justify-content: center;
  align-content: center;
  align-items: center;

  .logo {
    opacity: 80;
  }

  .title {
    position: absolute;
    font-size: 2em;
    font-weight: 700;
    color: #98c3fb;
    height: 20%;
    width: 30%;
    left: 30%;
    top: 35;
  }
}

/*  CORP DE PAGE  */
section {
}

article {
  background: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding-top: 1.5em;
    text-align: justify;
    width: 80%;
  }
}

aside {
  justify-content: space-around;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
  text-decoration: overline;
}

.jumbotron {
  display: flex;
  background: linear-gradient(-45deg, #0000ff, rgba(255, 255, 255, 0.876));
}
