body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: wheat;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.row {
  border: 1px solid blue;
}

header {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0.493),
    rgba(255, 255, 255, 0.876)
  );
  overflow: hidden;
  max-height: 4&00px;
}

a {
  font-size: 1.6em;
  font-weight: 600;
}
@media screen and (max-width: 470px) {
  .navbar-brand {
    display: none;
  }
}
.bandeau {
  display: flex;
  padding-left: 4em;
  padding-right: 4em;
}

.section_head,
section {
  padding-top: 4em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 6.5em;
  font-weight: 700;
  font-style: italic;
  color: lighten(#000000, 25%);
}
h1::first-letter,
p::first-letter {
  color: lighten(grey, 20%);
}

h2 {
  text-align: left;
  font-size: 3em;
  font-style: italic;
  padding-bottom: 1em;
  text-decoration: overline;
  color: lighten(black, 45%);
}

h3 {
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
  color: lighten(#000000, 45%);
}

p {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}

article {
  width: 80%;
  padding-top: 4em;
}

caption {
  padding: 10px;
  caption-side: top;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: darkblue;
  text-decoration: underline;
  border: 2px solid dodgerblue;
  border-bottom: initial;
}

td,
th {
  border: 1px dashed blue;
  border-top: initial;
}

tr {
  border: 2px solid dodgerblue;
}

aside {
  justify-content: space-around;
  padding: 2em;
  border-radius: 1em;
  border-radius: 2px solid;
}

$f-title: "Roboto", sans-serif;
$f-body: "Open Sans", sans-serif;

@mixin centre($axis: "both") {
  position: absolute;
  @if $axis == "y" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @if $axis == "x" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $axis == "both" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
  }
}
@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: ($lineHeight * 10) + px;
}
@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(outerRotate1) {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@include keyframes(outerRotate2) {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@include keyframes(textColour) {
  0% {
    color: #fff;
  }
  100% {
    color: #3bb2d0;
  }
}

.e-loadholder {
  @include centre();
  width: 240px;
  height: 240px;
  border: 5px solid #1b5f70;
  border-radius: 120px;
  box-sizing: border-box;

  &:after {
    @include centre;
    content: " ";
    display: block;
    background: #222;
    transform-origin: center;
    z-index: 0;
  }

  &:after {
    width: 100px;
    height: 200%;
    @include animation("outerRotate2 30s infinite linear");
  }

  .m-loader {
    @include centre();
    width: 200px;
    height: 200px;
    color: #888;
    text-align: center;
    border: 5px solid lighten(#1b5f70, 15%);
    border-radius: 100px;
    box-sizing: border-box;
    z-index: 20;
    text-transform: uppercase;

    &:after {
      @include centre;
      content: " ";
      display: block;
      background: #222;
      transform-origin: center;
      z-index: -1;
    }

    &:after {
      width: 100px;
      height: 106%;
      @include animation("outerRotate1 15s infinite linear");
    }

    .e-text {
      @include font-size(1.4, 13);
      @include centre();
      @include animation("textColour 1s alternate linear infinite");
      display: block;
      width: 140px;
      height: 140px;
      text-align: center;
      border: 5px solid lighten(#1b5f70, 25%);
      border-radius: 70px;
      box-sizing: border-box;
      z-index: 20;

      &:before,
      &:after {
        @include centre;
        content: " ";
        display: block;
        background: #222;
        transform-origin: center;
        z-index: -1;
      }

      &:before {
        width: 110%;
        height: 40px;
        @include animation("outerRotate2 3.5s infinite linear");
      }
      &:after {
        width: 40px;
        height: 110%;
        @include animation("outerRotate1 8s infinite linear");
      }
    }
  }
}

#particleCanvas-White {
  @include centre();
  width: 100%;
  height: 50%;
  opacity: 0.1;
}

#particleCanvas-Blue {
  @include centre();
  width: 300px;
  height: 300px;
}
