$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

.display {
  position: relative;
  left: 0px;
  height: 600px;
  width: auto;
  z-index: 0;
}

.tablet {
  background-image: url("http://ami.responsivedesign.is/images/ipad-optimised.png");
  width: 246px;
  height: 400px;
  z-index: 3;
  position: absolute;
  left: 120px;
  top: 230px;
}

.tablet iframe {
  width: 768px;
  height: 1024px;
  top: 35px;
  left: 38px;
  overflow-y: hidden;
}

.desktop {
  position: absolute;
  width: 566px;
  height: 538px;
  background-image: url("http://ami.responsivedesign.is/images/large-screen-optimised.png");
  top: 0px;
  left: 220px;
  z-index: 1;
}

.desktop iframe {
  left: 28px;
  top: 38px;
  width: 1600px;
  height: 992px;
  transform: scale(0.3181);
  -webkit-transform: scale(0.3181);
  -o-transform: scale(0.3181);
  -ms-transform: scale(0.3181);
  -moz-transform: scale(0.3181);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
}

div {
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

iframe {
  transform: scale(0.219);
  -webkit-transform: scale(0.219);
  -o-transform: scale(0.219);
  -ms-transform: scale(0.219);
  -moz-transform: scale(0.219);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  border-color: #000;
}

/*  RESPONSIVE DESIGN  */

@media (max-width: 1070px) {
  .display {
    left: -50px;
  }
}

@media (max-width: 1000px) {
  .display {
    height: 500px;
    transform: scale(0.71);
    -webkit-transform: scale(0.71);
    -o-transform: scale(0.71);
    -ms-transform: scale(0.71);
    -moz-transform: scale(0.71);
    top: -40px;
  }
  .desktop {
    left: 140px;
  }
  .tablet {
    left: 40px;
  }
}

@media (max-width: 850px) {
  .display {
    height: 500px;
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -o-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -moz-transform: scale(0.65);
  }
  .desktop {
    left: 100px;
  }
  .tablet {
    left: 0px;
  }
}

@media (max-width: 768px) {
  .display {
    height: 450px;
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
    -o-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -moz-transform: scale(0.55);
  }
}

@media (max-width: 670px) {
  .display {
    height: 400px;
    left: -70px;
    transform: scale(0.45);
    -webkit-transform: scale(0.45);
    -o-transform: scale(0.45);
    -ms-transform: scale(0.45);
    -moz-transform: scale(0.45);
  }
}

@media (max-width: 560px) {
  .display {
    height: 270px;
    top: -65px;
    transform: scale(0.37);
    -webkit-transform: scale(0.37);
    -o-transform: scale(0.37);
    -ms-transform: scale(0.37);
    -moz-transform: scale(0.37);
  }
}

@media (max-width: 440px) {
  .display {
    left: -17px;
    top: -65px;
    width: 70px;
    transform: scale(0.35);
    -webkit-transform: scale(0.35);
    -o-transform: scale(0.35);
    -ms-transform: scale(0.35);
    -moz-transform: scale(0.35);
  }
}

@media (max-width: 380px) {
  .display {
    height: 235px;
    left: -17px;
    top: -65px;
    width: 70px;
    transform: scale(0.27);
    -webkit-transform: scale(0.27);
    -o-transform: scale(0.27);
    -ms-transform: scale(0.27);
    -moz-transform: scale(0.27);
  }
  .desktop {
    left: 100px;
  }
  .tablet {
    left: 0px;
  }
}
/*# sourceMappingURL=responsiv.css.map */
