.wrapper {
  width: auto;
  max-width: 1600px;
  margin: 0 auto;
}

.display {
  position: relative;
  left: 0px;
  height: 800px;
}

form {
  width: 85%;
  margin: 1em auto;
}

div {
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

iframe {
  transform: scale(0.219);
  -webkit-transform: scale(0.219);
  -o-transform: scale(0.219);
  -ms-transform: scale(0.219);
  -moz-transform: scale(0.219);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  border-color: #000;
}

/*  Position des Appareils  */
.desktop {
  position: absolute;
  width: 566px;
  height: 538px;
  background-image: url("http://ami.responsivedesign.is/images/large-screen-optimised.png");
  top: 0px;
  left: 30%;
  z-index: 1;
}

/*  Position iframe  */
.desktop iframe {
  left: 28px;
  top: 38px;
  width: 1600px;
  height: 992px;
  transform: scale(0.3181);
  -webkit-transform: scale(0.3181);
  -o-transform: scale(0.3181);
  -ms-transform: scale(0.3181);
  -moz-transform: scale(0.3181);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
}

/*  Responsive Design  */
@media (max-width: 1600px) {
  .display {
    width: 95%;
    height: 550px;
    transform: scale(0.78);
    -webkit-transform: scale(0.78);
    -o-transform: scale(0.78);
    -ms-transform: scale(0.78);
    -moz-transform: scale(0.78);
  }
  .desktop {
    left: 300px;
  }
  .laptop {
    left: 800px;
  }
  .tablet {
    left: 0px;
  }
  .mobile {
    left: 250px;
  }
}

@media (max-width: 1450px) {
  .display {
    width: 95%;
    height: 550px;
    left: -100px;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -moz-transform: scale(0.75);
  }
}

@media (max-width: 1250px) {
  .display {
    width: 95%;
    height: 550px;
    left: -120px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
  }
}

/* ------------------------- */
@media (max-width: 1160px) {
  .display {
    width: 95%;
    height: 550px;
    left: -140px;
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -o-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -moz-transform: scale(0.65);
  }
}

@media (max-width: 1070px) {
  .display {
    width: 95%;
    height: 550px;
    left: -140px;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
  }
}

@media (max-width: 1000px) {
  .display {
    height: 500px;
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
    -o-transform: scale(0.55);
    -ms-transform: scale(0.55);
    -moz-transform: scale(0.55);
  }
  .laptop {
    left: 700px;
  }
}

@media (max-width: 850px) {
  .display {
    height: 500px;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }
}

@media (max-width: 768px) {
  .display {
    height: 450px;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }
}

@media (max-width: 670px) {
  .display {
    height: 400px;
    left: -130px;
    transform: scale(0.35);
    -webkit-transform: scale(0.35);
    -o-transform: scale(0.35);
    -ms-transform: scale(0.35);
    -moz-transform: scale(0.35);
  }
}

@media (max-width: 560px) {
  .display {
    height: 270px;
    top: -65px;
    left: -110px;
    transform: scale(0.25);
    -webkit-transform: scale(0.25);
    -o-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
  }
}

@media (max-width: 440px) {
  .display {
    left: -17px;
    top: -65px;
    width: 70px;
    transform: scale(0.22);
    -webkit-transform: scale(0.22);
    -o-transform: scale(0.22);
    -ms-transform: scale(0.22);
    -moz-transform: scale(0.22);
  }
}

@media (max-width: 380px) {
  .display {
    height: 235px;
    left: -17px;
    top: -65px;
    width: 70px;
    transform: scale(0.18);
    -webkit-transform: scale(0.18);
    -o-transform: scale(0.18);
    -ms-transform: scale(0.18);
    -moz-transform: scale(0.18);
  }
}
/*# sourceMappingURL=responsiv.css.map */