$bg1-Color: wheat;
$bg2-Color: antiquewhite;
$bg3-Color: darken(wheat, 10%);
$titleColor: red;
$textColor: darken(grey, 25%);

/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjxAwXjeu.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  font-size: 16px;
  height: 100%;
  max-height: 1600px;
  line-height: 1.8;
  color: darken($textColor, 25%);
  background: whitesmoke;
}

.scroll {
  position: fixed;
  right: 2em;
  bottom: 2.5em;
}
.resolution {
  position: fixed;
  right: 2em;
  bottom: 0.5em;
}

.row {
  border: 1px solid red;
}
.col {
  border: 1px solid blue;
}

/* Create a Parallax Effect */
header {
  border: 2px solid;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-around;
}

section {
  border: 1px solid white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  min-height: 500px;
}

.bg-01 {
  background-color: $bg1-Color;
}

.bg-02 {
  background-color: $bg2-Color;
}

.bandeau {
  display: block;
  height: auto;
  float: left;
  border-style: solid;
  background-size: 100% 100%;
  background-color: #000;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.about {
  padding: 1.5em;
  h1 {
    color: darken($titleColor, 25%);
    text-align: justify;
    margin-left: 4em;
    font-weight: 600;
  }
  p {
    font-size: 1.1em;
    margin: 3.5em;
    color: $textColor;
  }
}

.hello {
  display: flex;
  justify-content: space-around;
  .title {
    text-align: left;
    margin-left: 25em;
    padding-bottom: 1em;
    text-decoration: underline;
    color: darken($titleColor, 25%);
  }
  .avatar {
    width: auto;
    height: 100%;
    position: relative;
    left: 3em;
    margin-bottom: 1.5em;
  }
  p {
    position: relative;
    right: 3.6em;
    color: $textColor;
    text-align: justify;
    margin: 1.8em;
  }
}

.level-front {
  display: flex;
  justify-content: center;
  .title {
    text-align: left;
    margin-left: 25em;
    padding-bottom: 1em;
    text-decoration: underline;
    color: darken($titleColor, 25%);
  }
}

.level-back {
  display: flex;
  justify-content: center;
  .title {
    text-align: left;
    margin-left: 25em;
    padding-bottom: 1em;
    text-decoration: underline;
    color: darken($titleColor, 25%);
  }
}
.parcours-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin-left: 5em;
}

.panel {
  width: 200px;
  height: 200px;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  .panel-heading {
    height: 60%;
  }
}

.panel-front {
  border: 1px solid whitesmoke;
  background-color: $bg3-Color;
}

.panel-back {
  border: 1px solid whitesmoke;
  background-color: $bg3-Color;
}

.portfolio {
  background-color: wheat;
  display: flex;
  justify-content: center;
  .title {
    text-align: left;
    margin-left: 25em;
    padding-bottom: 1em;
    text-decoration: underline;
    color: darken($titleColor, 25%);
  }
}
.display {
  position: relative;
  height: 600px;
}
.desktop {
  position: absolute;
  width: 566px;
  height: 538px;
  background-image: url("http://ami.responsivedesign.is/images/large-screen-optimised.png");
  top: 0px;
  left: 25%;
}
.menuSite {
  position: relative;
  left: 18em;
}

iframe {
  transform: scale(0.219);
  -webkit-transform: scale(0.219);
  -o-transform: scale(0.219);
  -ms-transform: scale(0.219);
  -moz-transform: scale(0.219);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  border-color: #000;
}

.desktop iframe {
  left: 28px;
  top: 38px;
  width: 1600px;
  height: 992px;
  transform: scale(0.3181);
  -webkit-transform: scale(0.3181);
  -o-transform: scale(0.3181);
  -ms-transform: scale(0.3181);
  -moz-transform: scale(0.3181);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
}

.contact {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  .title {
    text-align: left;
    margin-left: 25em;
    padding-bottom: 1em;
    text-decoration: underline;
    color: darken($titleColor, 25%);
  }
}
/* ---------- */

footer {
  background-color: wheat;
  height: 150px;
  text-align: center;
}
form {
  border-radius: 5px;
  padding: 0 2rem;
  width: 25rem;
}
