$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: wheat;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0.493),
    rgba(117, 117, 211, 0.603)
  );
  overflow: hidden;
  max-height: 4&00px;
}

.head {
  position: fixed;
  width: 98%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu {
    padding: 1em;
  }
  .theme {
    padding: 1em;
  }
}

a {
  font-size: 1.6em;
  font-weight: 600;
}

li {
  list-style: none;
}

.bandeau {
  display: flex;
  padding-left: 4em;
  padding-right: 4em;
}

section,
footer {
  padding-top: 4em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 6.5em;
  font-weight: 700;
  font-style: italic;
  color: lighten(#000000, 25%);
}
h1::first-letter,
p::first-letter {
  color: lighten(grey, 20%);
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 5.5em;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.8em;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  text-align: left;
  font-size: 3em;
  font-style: italic;
  padding-bottom: 1em;
  text-decoration: overline;
  color: lighten(black, 45%);
}

h3 {
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
  color: lighten(#000000, 45%);
}

p {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}

article {
  width: 80%;
  padding-top: 4em;
}

caption {
  padding: 10px;
  caption-side: top;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: darkblue;
  text-decoration: underline;
  border: 2px solid dodgerblue;
  border-bottom: initial;
}

td,
th {
  border: 1px dashed blue;
  border-top: initial;
}

tr {
  border: 2px solid dodgerblue;
}

aside {
  justify-content: space-around;
  padding: 2em;
  border-radius: 1em;
  border-radius: 2px solid;
}

.dark {
  background-color: black;
  color: white;
}
