$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #6f3ce7, #7575d39a, #0000ff7e);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-size: 16px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

header {
  margin-top: 1em;

  .row {
    width: 100%;
  }
  .col-1 {
    display: flex;
    justify-content: center;
  }
}

.header {
  h1 {
    font-size: 5.5em;
    font-weight: 700;
    font-style: italic;
    color: lighten(#000000, 10%);
  }
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 4.4em;
    }
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 3.3em;
    }
  }
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 2.2em;
    }
  }
  h3 {
    color: whitesmoke;
  }
}

section,
footer {
  padding-top: 2em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

article {
  width: 80%;
  padding-top: 4em;
}

h2 {
  text-align: left;
  font-size: 3em;
  font-style: italic;
  padding-bottom: 1em;
  text-decoration: overline;
  color: palegoldenrod;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: whitesmoke;
}

/*   Portfolio   */
.menuSite {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*  Contact  */
.m-form {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

/*   Roadmap   */

#roadmap,
#evolution {
  margin-top: 5em;
  background: lighten(#6f3ce7, 19%);
  border-radius: 25px;
}

caption {
  padding: 10px;
  caption-side: top;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: darkblue;
  text-decoration: underline;
  border: 2px solid dodgerblue;
  border-bottom: initial;
}

td,
th {
  border: 1px dashed blue;
  border-top: initial;
}

tr {
  border: 2px solid dodgerblue;
}

aside {
  justify-content: space-around;
  padding: 2em;
  border-radius: 1em;
  border-radius: 2px solid;
}
